@media (min-width:320px) and (max-width:767px) {
  .footer__flex-container {
      flex-flow: column wrap;
  }
  .decor-collection-left {
    display: none;
  }
  .decor-collection-right {
    display: none;
  }
  .footer__contact-block, .footer__link {
      padding-left: 0;
      margin-left: 0;
      margin-top: 22px;
  }
  .footer__logo-link {
      display: flex;
      position: relative;
      margin-left: 0;
      margin-top: 40px;
  }
  .grid-mb-80 {
      margin-bottom: 40px;
  }
  .form-control-search {
      font-size: 13px;
      height: 42px;
  }
  .icon-search {
      top:12px;
      width: 18px;
      height: 18px;
  }
  .mobile-filter-btn {
      display: flex;
      position: relative;
      width: 100%;
      flex-flow: row nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.57px;
      text-align: center;
      color: #dda205;
      border-radius: 6px;
      border: solid 2px #dda205;
      padding: 10px 24px;
  }
  .mobile-filter-btn--angle {
    display: flex;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('../images/angle-up.svg') no-repeat center center;
    background-size: 100%;
    transform: rotate(180deg);
    right: 20px;
  }
  .mobile-filter-btn.active .mobile-filter-btn--angle {
    transform: rotate(360deg);
  }
  .mobile-filter {
    display: none;
  }
  .mobile-filter.active {
    display: flex;
  }
  .search-menu {
    background: #dda205;
    padding: 20px 13px;
    border-radius: 8px;
    margin-bottom: 0;
  }
  .search-menu li.active a {
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.69px;
    color: #671e0f;
    padding: 5px 12px;
    border-radius: 9px;
    background-color: #ffffff;
    border: solid 1px transparent;
  }
  .search-menu li a {
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.69px;
    color: #ffffff;
    padding: 5px 12px;
    border-radius: 9px;
    background-color: transparent;
    border: solid 1px #ffffff;
  }
  .search-menu li:first-of-type {
    padding: 5px;
  }
  .search-menu li {
    padding: 5px;
    display: inline-flex;
  }
  .decor-zindex-2 {
    display: none;
  }
  .mobile-mt-50 {
    margin-top: 50px;
  }
  .mobile-back-link {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: rgba(103, 30, 15, 0.4);
    margin-bottom: 32px;
  }
  .mobile-back-link__arrow {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    background: url('../images/arrow-left.svg') no-repeat center center;
    background-size: 100%;
    margin-right: 9px;
  }
  .breadcrumb-menu {
    display: none;
  }
  .logo {
    margin: 45px auto 32px;
  }
  .decor02-zindex-2 {
    display: none;
  }
  .decor03-zindex-2 {
    display: none;
  }
  .mb-8 {
    margin-bottom: 40px!important;
  }
  .colection-screen__first-col-l {
    width: 100%;
    align-items: initial;
    padding-right: 0;
  }
  .colection-screen__first-col-r {
    width: 100%;
  }
  .colection-screen__second-col-r {
    width: 100%;
    order: 1;
  }
  .colection-screen__second-col-l {
    width: 100%;
    align-items: initial;
    padding-left: 0;
    order:0;
  }
  .colection-screen__third-col-l {
    width: 100%;
    align-items: initial;
    padding-right: 0;
  }
  .colection-screen__third-col-r {
    width: 100%;
  }
  .colection-screen__flex-container-1 {
    flex-flow: column wrap;
  }
  .cheese-page__col-l {
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .cheese-page__col-r {
    width: 100%;
  }
  .cheese-page__col-l {
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .cheese-page__col-r {
    width: 100%;
    padding-left: 0;
    padding-top: 40px;
  }
  .cheese-page__img {
    display: block;
    position: relative;
    width: 80%;
  }
  .cheese-page__title {
    text-align: left;
  }
  .cheese-page__energo-block {
    margin-bottom: 40px;
  }
  .cheese-page__energo-caption {
    justify-content: center;
  }
  .cheese-page__chease-menu {
    flex-flow: row wrap;
  }
  .cheese-page__title mark {
    font-size: 50px;
  }
  .cheese-page__slider-img {
    width: 80%;
    margin: 0 auto;
  }
  .slider-controls__prev {
    left: 10px;
  }
  .slider-controls__next {
    right: 10px;
  }
  .cheese-page__list li {
    font-size: 12px;
    width: 50%;
    flex-flow: column wrap;
    margin-bottom: 20px;
  }
  .cheese-page__energo-caption {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .cheese-page__list {
    flex-flow: row wrap;
  }
  .recipe-page__socblock {
    flex-flow: row wrap;
    justify-content: center;
  }
  .btn-ml-auto {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    display: none!important;
  }
  .recipe-page__title {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .recipe-page__title mark {
    font-size: 22px;
  }
  .recipe-page__desc {
    font-size: 15px;
    line-height: 1.67;
  }
  .recipe-page__instruct li {
    font-size: 15px;
    line-height: 1.67;
  }
  .recipe-page__ingr-caption {
    padding-top: 0;
  }
  .recipe-page__energo-block {
    padding: 30px 30px;
    margin-top: 40px;
  }
  .recipe-page__instruct-caption {
    padding-top: 0;
  }
  .recipe-link-grid {
    min-height: 300px;
    text-decoration: none;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .search-menu li a {
    font-size: 14px;
  }
  .recipe-link-grid {
    color: #671e0f;
    display: block;
    position: relative;
    min-height: 320px;
    text-decoration: none;
  }
  .search-menu li.active a {
    font-size: 14px;
  }
  .footer__flex-container {
    flex-flow: column wrap;
  }
  .footer__contact-block, .footer__link {
      padding-left: 0;
      margin-left: 0;
      margin-top: 22px;
  }
  .footer__logo-link {
      display: flex;
      position: relative;
      margin-left: 0;
      margin-top: 40px;
  }
  .btn-ml-auto {
    display: none!important;
  }
  .decor02-zindex-2 {
    display: none;
  }
  .decor03-zindex-2 {
    display: none;
  }
  .mb-8 {
    margin-bottom: 0!important;
  }
  .colection-screen__first-col-l {
    justify-content: center;
  }
  .colection-screen__second-col-l {
    justify-content: center;
  }
  .colection-screen__name {
    margin-top: 0;
  }
  .cheese-page__col-l {
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .cheese-page__col-r {
    width: 100%;
    padding-left: 0;
    padding-top: 40px;
  }
  .cheese-page__img {
    display: block;
    position: relative;
    width: 60%;
  }
  .cheese-page__title {
    text-align: center;
  }
  .cheese-page__energo-block {
    margin-bottom: 40px;
  }
  .cheese-page__energo-caption {
    justify-content: center;
  }
  .slider-controls__prev {
    left: 10px;
  }
  .slider-controls__next {
    right: 10px;
  }
  .recipe-page__ingr-caption {
    padding-top: 0;
  }
  .recipe-page__energo-block {
    margin-top: 40px;
  }
  .decor-collection-left {
    display: none;
  }
  .decor-collection-right {
    display: none;
  }
} 

@media (min-width:1024px) and (max-width:1270px) {
  .recipe-page__energo-block {
    margin-top: 40px;
  }
  .recipe-link-grid {
    color: #671e0f;
    display: block;
    position: relative;
    min-height: 320px;
    text-decoration: none;
  }
  .decor-collection-left {
    display: flex;
    position: absolute;
    width: 160px;
    top: 190px;
    left: 0;
    z-index: 2;
  }
  .decor-collection-right {
    display: flex;
    position: absolute;
    width: 160px;
    right: 0;
    top: 710px;
    z-index: 2;
  }
}

@media (min-width:1271px) and (max-width:1640px) {
  .decor-collection-left {
    display: flex;
    position: absolute;
    width: 200px;
    top:250px;
    left: 0;
    z-index: 2;
  }
  .decor-collection-right {
    display: flex;
    position: absolute;
    width: 200px;
    right: 0;
    top:800px;
    z-index: 2;
  }
}