@font-face {
  font-family: 'Arctika script';
  src: url('https://hybrid.pepsico.digital/builder/fonts/Arctikascript.woff2') format('woff2'),
      url('https://hybrid.pepsico.digital/builder/fonts/Arctikascript.woff') format('woff'),
      url('https://hybrid.pepsico.digital/builder/fonts/Arctikascript.ttf') format('truetype'),
      url('https://hybrid.pepsico.digital/builder/fonts/Arctikascript.svg#Arctikascript') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Black';
  src: url('../fonts/GothamPro-Black.eot');
  src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Black.woff') format('woff'),
  url('../fonts/GothamPro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
div, a, section, ul, img {
  transition: all 0.3s;
}
.container {
  position: relative;
}

@media (min-width: 1600px) {
  .container {
    width: 1500px!important;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    padding-left: 25px!important;
    padding-right: 25px!important;
  }
}

body {
    font-family: 'Open Sans', sans-serif!important;
    font-size: 15px!important;
}

.header {
  display: flex;
  position: sticky;
  top:0;
  width: 100%;
  min-height: 50px;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  background: #f3f3f3;
  z-index: 10;
}
.header__menu {
  display: flex;
  position: relative;
  padding: 0;
  list-style: none;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 0;
}
.header__menu li {
  padding: 0 12px;
}
.header__menu li a {
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #671e0f;
  text-decoration: none;
  text-transform: uppercase;
}
.header__menu li a:hover {
  text-decoration: underline;
  color: #671e0f;
}
.wrapper-bg {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: column wrap;
  background: #ffffff;
  padding-bottom: 116px;
}
.wrapper-itempage-bg {
  display: block;
  position: relative;
  width: 100%;
  background: #ffffff;
  padding-bottom: 60px;
}
.logo {
  display: inline-block;
  position: relative;
  height: 88px;
  margin: 45px auto 57px;
}
.breadcrumb-menu {
  display: flex;
  position: relative;
  padding: 0;
  list-style: none;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 57px;
}
.breadcrumb-menu li {
  display: inline-flex;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
}
.breadcrumb-menu li a {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  color: rgba(103, 30, 15, 0.4);
}
.breadcrumb-menu li a:hover {
  color: rgba(103, 30, 15, 1);
  text-decoration: underline;
}
.breadcrumb-menu > li + li:before {
  padding: 0 10px;
  color: #ccc;
  content: url('../images/breadcrumb-divider.svg');
  top: -6px;
  position: relative;
  opacity: 0.4;
}
.breadcrumb-menu > .active {
  color: #dda205;
}

/* Recipe filter */

.form-control-search {
  display: block;
  width: 100%;
  height: 55px;
  padding: 10px 50px;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.42857143;
  letter-spacing: -0.71px;
  color: #671e0f;
  background-color: rgba(255, 255, 255, 0.33);
  background-image: none;
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 23px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 23px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
.form-control-search:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 13px 0 rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 13px 0 rgba(0, 0, 0, 0.16);
}
.form-control-search::-moz-placeholder {
  color: #671e0f;
  opacity: 0.4;
}
.form-control-search:-ms-input-placeholder {
  color: #671e0f;
  opacity: 0.4;
}
.form-control-search::-webkit-input-placeholder {
  color: #671e0f;
  opacity: 0.4;
}
.form-control-search::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control-search[disabled],
.form-control-search[readonly],
fieldset[disabled] .form-control-search {
  background-color: #eeeeee;
  opacity: 1;
}
.form-control-search[disabled],
fieldset[disabled] .form-control-search {
  cursor: not-allowed;
}
.icon-search {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background: url('../images/icon-search.svg') no-repeat center center;
  background-size: 100%;
  top: 15px;
  left: 30px;
}
.search-menu {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 100px;
}
.search-menu li {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-flex;
}
.search-menu li:first-of-type {
  padding-left: 0px;
  padding-right: 5px;
}
.search-menu li.active a {
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  color: #ffffff;
  padding: 8px 15px;
  border-radius: 9px;
  background-color: rgba(221, 162, 5, 1);
}
.search-menu li a {
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  color: #dda205;
  padding: 8px 15px;
  border-radius: 9px;
  background-color: transparent;
}
.search-menu li a:hover {
  color: #dda205;
  text-decoration: none;
  background-color: rgba(221, 162, 5, 0.2);
}
.recipe-img-grid {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto 35px;
}
.recipe-title-grid {
  font-family: 'Arctika script';
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.85;
  padding: 0 10%;
  letter-spacing: -1.14px;
  text-align: center;
  color: #671e0f;
  margin-top: 0;
  margin-bottom: 40px;
}
.recipe-link-grid {
  color: #671e0f;
  display: block;
  position: relative;
  min-height: 480px;
  text-decoration: none;
}
.recipe-link-grid:hover {
  color: rgb(103, 30, 15, 0.6);
  text-decoration: none;
}
.recipe-link-grid:hover img {
  opacity: 0.7;
}
.grid-mb-80 {
  margin-bottom: 80px;
}
.decor-zindex-2 {
  display: flex;
  position: absolute;
  width: 100%;
  top:350px;
  z-index: 2;
}
.decor02-zindex-2 {
  display: flex;
  position: absolute;
  width: 100%;
  top:250px;
  z-index: 2;
}
.decor-collection-left {
  display: flex;
  position: absolute;
  width: 300px;
  top:250px;
  left: 0;
  z-index: 2;
}
.decor-collection-right {
  display: flex;
  position: absolute;
  width: 300px;
  right: 0;
  top:900px;
  z-index: 2;
}
.decor03-zindex-2 {
  display: flex;
  position: absolute;
  width: 100%;
  top:500px;
  z-index: 2;
}
.gradient-bottom {
  display: flex;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(to bottom, #ffffff, #f3f3f3);
  min-height: 800px;
  bottom: 0;
  z-index: 1;
}
.page-zindex-3 {
  z-index: 3;
}
.mobile-filter-btn {
  display: none;
}
.mobile-back-link {
  display: none;
}

/* Collection */
.colection-screen__flex-container-1 {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.colection-screen__first-col-l {
  display: flex;
  position: relative;
  width: 45%;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-end;
  padding-right: 60px;
}
.colection-screen__first-col-r {
  display: flex;
  position: relative;
  width: 55%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.colection-screen__third-col-l {
  display: flex;
  position: relative;
  width: 45%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-end;
  padding-right: 60px;
}
.colection-screen__third-col-r {
  display: flex;
  position: relative;
  width: 55%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.colection-screen__second-col-l {
  display: flex;
  position: relative;
  width: 45%;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-end;
  padding-left: 60px;
}
.colection-screen__second-col-r {
  display: flex;
  position: relative;
  width: 55%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.colection-screen__img {
  display: block;
  position: relative;
  width: 100%;
}
.colection-screen__name {
  font-family: 'Arctika script';
  font-size: 40px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.64;
  letter-spacing: normal;
  color: #dda205;
  margin-bottom: 22px;
  margin-top: auto;
}
.colection-screen__name-third {
  font-family: 'Arctika script';
  font-size: 40px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.64;
  letter-spacing: normal;
  color: #dda205;
  margin-bottom: 22px;
}
.colection-screen__desc {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #671e0f;
  padding-bottom: 30px;
}
.mb-8 {
  margin-bottom: 100px!important;
}
.mt-6 {
  margin-top: 60px!important;
}
.btn-outline-yellow {
  border: solid 2px #dda205!important;
  color: #dda205;
  background-color: transparent;
}
.btn-outline-yellow:focus,
.btn-outline-yellow.focus {
  color: #fff;
  background-color: #dda205;
  border: solid 2px #dda205!important;
}
.btn-outline-yellow:hover {
  color: #fff!important;
  background-color: #dda205;
  border: solid 2px #dda205!important;
}
.btn-outline-yellow:active,
.btn-outline-yellow.active,
.open > .dropdown-toggle.btn-outline-yellow {
  color: #fff;
  background-color: #dda205;
  background-image: none;
  border-color: #dda205;
}
.btn-outline-yellow:active:hover,
.btn-outline-yellow.active:hover,
.open > .dropdown-toggle.btn-outline-yellow:hover,
.btn-outline-yellow:active:focus,
.btn-outline-yellow.active:focus,
.open > .dropdown-toggle.btn-outline-yellow:focus,
.btn-outline-yellow:active.focus,
.btn-outline-yellow.active.focus,
.open > .dropdown-toggle.btn-outline-yellow.focus {
  color: #fff;
  background-color: #dda205;
  border-color: #dda205;
}
.btn-outline-yellow.disabled:hover,
.btn-outline-yellow[disabled]:hover,
fieldset[disabled] .btn-outline-yellow:hover,
.btn-outline-yellow.disabled:focus,
.btn-outline-yellow[disabled]:focus,
fieldset[disabled] .btn-outline-yellow:focus,
.btn-outline-yellow.disabled.focus,
.btn-outline-yellow[disabled].focus,
fieldset[disabled] .btn-outline-yellow.focus {
  background-color: #dda205;
  border-color: #dda205;
}
.btn-outline-yellow .badge {
  color: #fff;
  background-color: #dda205;
}
.btn-group-lg>.btn, .btn-lg {
  padding: 10px 30px!important;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 15px!important;
}

/* Cheese Page */
.cheese-page__title {
  font-family: 'Gotham Pro Black';
  font-size: 50px;
  font-weight: 900;
  color: #671e0f;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.71;
  letter-spacing: normal;
  text-transform: uppercase;
}
.cheese-page__slider-img {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.cheese-page__title mark {
  font-family: 'Arctika script';
  font-size: 70px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #dda205;
  padding: 0;
  text-transform: none;
  background: transparent;
}
.cheese-page__col-l {
  display: flex;
  position: relative;
  width: 50%;
  flex-flow: column wrap;
}
.cheese-page__col-r {
  display: flex;
  position: relative;
  width: 50%;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding-left: 60px;
}
.cheese-page__energo-block {
  display: flex;
  position: relative;
  width: 100%;
  background: #ffffff;
  flex-flow: column wrap;
  border-radius: 9px;
  padding: 20px 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}
.cheese-page__energo-caption {
  display: flex;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #dda205;
  margin-bottom: 10px;
}
.cheese-page__list {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: row nowrap;
  padding: 0;
  margin-bottom: 0;
}
.cheese-page__list li {
  display: flex;
  position: relative;
  width: 25%;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #671e0f;
}
.cheese-page__list li strong {
  font-size: 16px;
  font-weight: 600;
}
.cheese-page__chease-menu {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  margin-bottom: 70px;
}
.cheese-page__chease-menu li {
  display: inline-flex;
  padding: 10px 30px;
}
.cheese-page__chease-menu li a {
  font-family: 'Arctika script';
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #dda205;
  text-decoration: underline;
  transition: all 0.3s;
}
.cheese-page__chease-menu li a:hover {
  color: #dda205;
  text-decoration: none;
}
.cheese-page__divider {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  opacity: 0.3;
  border: solid 2px #dda205;
  margin-bottom: 42px;
}
.cheese-page__slider-header {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #671e0f;
  margin-bottom: 47px;
  text-transform: uppercase;
}
.cheese-page__img {
  display: block;
  position: relative;
  width: 100%;
}
/* Recipe page */
.recipe-page__title {
  font-size: 49px;
  font-weight: 900;
  color: #671e0f;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.82;
  letter-spacing: normal;
  text-align: center;
  font-family: 'Gotham Pro Black';
  margin-bottom: 70px;
  text-transform: uppercase;
}
.recipe-page__title mark {
  font-family: 'Arctika script';
  padding: 0;
  background: transparent;
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.82;
  letter-spacing: normal;
  text-align: center;
  color: #dda205;
  text-transform: none;
}
.recipe-slider-thumbnails {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: row nowrap;
  overflow-x: hidden;
  padding: 0;
  list-style: none;
}
.customize-thumbnails {
  display: flex;
  position: relative;
  justify-content: center;
}
.thumbnails { 
  display: flex;
  position: relative;
  width: 90%;
  justify-content: center;
  align-content: center;
  flex-flow: row nowrap;
  overflow-x: hidden;
  padding: 0;
  list-style: none;
  margin: 20px 0;
  text-align: center;
}
.thumbnails li {
  display: inline-block;
  cursor: pointer;
  margin: 0 2px;
  border: 2px solid #fff;
}
.thumbnails .tns-nav-active {
  background: none;
  border-color: #e3e3e3;
  outline: none;
}
.thumbnails li:focus {
  outline: none;
}
.thumbnails li { border-radius: 19px; width: 33.3333%; height:80px; overflow: hidden; }
.thumbnails img { vertical-align: top; width:100%; }
.thumbnails-controls__prev {
  display: block;
  position: absolute;
  width: 10px;
  height: 24px;
  background: url('../images/arrow-left-2.svg') no-repeat center center;
  background-size: 100%;
  left: 0px;
  top:50px;
  border:0;
}
.thumbnails-controls__next {
  display: block;
  position: absolute;
  width: 10px;
  height: 24px;
  background: url('../images/arrow-right.svg') no-repeat center center;
  background-size: 100%;
  right: 0px;
  top:50px;
  border:0;
}
.recipe-slider {
  display: flex;
  position: relative;
  width: 100%;
}
.recipe-slider img {
  width: 100%;
}
.recipe-page__ingr-table {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: column wrap;
  margin-bottom: 40px;
}
.recipe-page__ingr-row {
  display: flex;
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(221, 162, 5, 0.4);
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: 0px;
}
.recipe-page__ingr-label {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #671e0f;
  background: #ffffff;
  padding: 1px 5px 1px 0px;
  bottom: -10px;
}
.recipe-page__ingr-vol {
  display: block;
  position: relative;
  margin-left: auto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #671e0f;
  background: #ffffff;
  padding: 1px 0px 1px 5px;
  bottom: -10px;
}
.recipe-page__desc {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #671e0f;
  padding-bottom: 0px;
}
.recipe-page__ingr-caption {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dda205;
  padding-top: 34px;
  display: block;
  position: relative;
}
.recipe-page__ingr-range {
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 11px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  padding: 18px 20px;
}
.recipe-page__ingr-range-vol {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #671e0f;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  margin-left: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.recipe-page__ingr-range-vol strong {
  font-size: 16px;
  font-weight: bold;
  padding-right: 5px;
}
.slidecontainer {
  width: 70%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 2px;
  background-color: #dda205;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
  border: solid 4px #ffffff;
  background-color: #dda205;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
  border: solid 4px #ffffff;
  background-color: #dda205;
  cursor: pointer;
}
.recipe-page__energo-block {
  display: flex;
  position: relative;
  width: 100%;
  background: #ffffff;
  flex-flow: column wrap;
  padding: 40px 50px;
  border-radius: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}
.recipe-page__energo-caption {
  display: flex;
  position: relative;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #dda205;
  margin-bottom: 10px;
}
.recipe-page__list {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: row wrap;
  padding: 0;
  margin-bottom: 0;
}
.recipe-page__list li {
  display: flex;
  position: relative;
  width: 50%;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #671e0f;
  margin-top: 20px;
}
.recipe-page__list li strong {
  font-size: 20px;
  font-weight: bold;
}
.recipe-page__instruct {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: column wrap;
  padding: 0;
  list-style: none;
}
.recipe-page__instruct li {
  display: block;
  position: relative;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #671e0f;
}
.recipe-page__instruct li strong {
  font-weight: bold;
}
.recipe-page__instruct-caption {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dda205;
  padding-top: 0px;
  display: block;
  position: relative;
  margin-bottom: 30px;
}
.recipe-page__socblock {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.recipe-page__socblock-icon {
  height: 50px;
  margin-right: 6px;
}
.recipe-page__socblock-link {
  opacity: 1;
}
.recipe-page__socblock-link:hover {
  opacity: 0.6;
}
/* Footer */
footer {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #ffffff;
  padding: 20px 0px;
}
.footer__logo {
  display: flex;
  position: relative;
  height: 60px;
  margin-left: auto;
}
.footer__flex-container {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.footer__copyright {
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #671e0f;
}
.footer__logo-link {
  display: flex;
  position: relative;
  margin-left: auto;
}
.footer__contact-block {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  color: #671e0f;
  padding-left: 60px;
}
.footer__contact-block a {
  color: #671e0f;
  text-decoration: none;
}
.footer__contact-block a:hover {
  color: #671e0f;
  text-decoration: underline;
}
.footer__link {
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #671e0f;
  text-decoration: none;
  margin-left: 60px;
}
.footer__link:hover {
  color: #671e0f;
  text-decoration: underline;
}
button:focus {
  outline: none;
}
a:focus {
  text-decoration: none;
}
.carousel-hidden {
  overflow-x: hidden!important;
}
.slider-controls__prev {
  display: block;
  position: absolute;
  width: 22px;
  height: 44px;
  background: url('../images/arrow-left-2.svg') no-repeat center center;
  background-size: 100%;
  left: -30px;
  top:250px;
  border:0;
}
.slider-controls__next {
  display: block;
  position: absolute;
  width: 22px;
  height: 44px;
  background: url('../images/arrow-right.svg') no-repeat center center;
  background-size: 100%;
  right: -30px;
  top:250px;
  border:0;
}
input:focus {
  outline: none;
}
.btn-ml-auto {
  margin-left: auto;
}

/* Print Page */
.print-page__wrapper {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  background: #ffffff;
  padding: 47px 0;
}
.print-page__container {
  display: block;
  position: relative;
  max-width: 690px;
  width: auto;
}
.print-page__title {
  font-family: 'Gotham Pro Black';
  font-size: 24px;
  font-weight: 900;
  color: #671e0f;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  line-height: 0.96;
  letter-spacing: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.print-page__title mark {
  font-family: 'Arctika script';
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  text-align: left;
  letter-spacing: normal;
  color: #dda205;
  padding: 0;
  text-transform: none;
  background: transparent;
}
.print-page__desc {
  display: block;
  position: relative;
  width: 100%;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #671e0f;
  margin-bottom: 40px;
}
.print-page__caption {
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dda205;
  margin-top: 0;
}
.print-page__caption small {
  font-size: 10px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dda205;
}
div.print-pr-30 {
  padding-right: 30px;
}
div.print-pl-30 {
  padding-left: 30px;
}
.print-page__ingr-table {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: column wrap;
  margin-bottom: 40px;
}
.print-page__ingr-row {
  display: flex;
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(221, 162, 5, 0.4);
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: 0px;
}
.print-page__ingr-label {
  display: block;
  position: relative;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #671e0f;
  background: #ffffff;
  padding: 1px 5px 1px 0px;
  bottom: -10px;
}
.print-page__ingr-vol {
  display: block;
  position: relative;
  margin-left: auto;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #671e0f;
  background: #ffffff;
  padding: 1px 0px 1px 5px;
  bottom: -10px;
}
.print-page__energo-block {
  display: flex;
  position: relative;
  width: 100%;
  background: #ffffff;
  flex-flow: column wrap;
  padding: 20px 35px;
  border-radius: 31px;
  border: solid 1px #dda205;
}
.print-page__energo-caption {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #dda205;
  margin-bottom: 10px;
}
.print-page__list {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: row wrap;
  padding: 0;
  margin-bottom: 0;
}
.print-page__list li {
  display: flex;
  position: relative;
  width: 50%;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #671e0f;
  margin-top: 20px;
}
.print-page__list li strong {
  font-size: 14px;
  font-weight: bold;
}
.print-page__instruct {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: column wrap;
  padding: 0;
  margin-top: 20px;
  list-style: none;
}
.print-page__instruct li {
  display: block;
  position: relative;
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #671e0f;
}
.print-page__instruct li strong {
  font-weight: 700;
}